# Kong-specific variables
KONG_ROLE=data_plane
KONG_DATABASE=off
KONG_VITALS=off
KONG_CLUSTER_MTLS=pki
KONG_CLUSTER_CONTROL_PLANE=<your_control_plane_url>
KONG_CLUSTER_SERVER_NAME=<your_server_name>
KONG_CLUSTER_TELEMETRY_ENDPOINT=<your_telemetry_endpoint>
KONG_CLUSTER_TELEMETRY_SERVER_NAME=<your_telemetry_server_name>
KONG_CLUSTER_CERT="<your_cluster_certificate>"
KONG_CLUSTER_CERT_KEY="<your_cluster_private_key>"
KONG_LUA_SSL_TRUSTED_CERTIFICATE=system
KONG_KONNECT_MODE=on
KONG_CLUSTER_DP_LABELS=type:docker-macOsArmOS
KONG_ROUTER_FLAVOR=expressions
